/*
////////////////////////////////////////////////////////
/////////////////////////////////////////  QGraphics****
*/


QGraphicsView
{
    background: black;
    border: none;
}


QGraphicsScene
{
    background: black;
    border: none;
}


/*
////////////////////////////////////////////////////////
/////////////////////////////////////////////  Graph****
*/


#DraftsmanGUIGraphView
{
    qproperty-BackgroundColor: rgba( 38, 38, 38, 1 );
    qproperty-GridColor: rgba( 0, 0, 0, 0.5 );
    qproperty-GridSize: 128;

    qproperty-SubGridColor: rgba( 255, 255, 255, 0.05 );
    qproperty-SubGridCount: 8;
}

